In [0]:
import pandas as pd

In [127]:
path = "https://raw.githubusercontent.com/ridhof/cinema21-data-simulation/master/data%20survey%20raw/keluar.csv"
output_path = "data_keluar.csv"
raw_data = pd.read_csv(path)
raw_data

           Lap;Lap time;Total time
0      1;00:00:26.911;00:00:26.911
1      2;00:00:00.215;00:00:27.126
2      3;00:00:00.247;00:00:27.373
3      4;00:00:13.393;00:00:40.766
4      5;00:00:00.250;00:00:41.016
..                             ...
148  149;00:00:00.178;00:06:07.265
149  150;00:00:00.178;00:06:07.443
150  151;00:00:02.519;00:06:09.962
151  152;00:00:00.142;00:06:10.104
152  153;00:00:10.557;00:06:20.661

[153 rows x 1 columns]

In [128]:
raw_data.loc[0].values.tolist()[0].split(";")

['1', '00:00:26.911', '00:00:26.911']

In [129]:
lap = []
lap_time = []
total_time = []

for row in raw_data.values.tolist():
  temp = row[0].split(";")
  lap.append(temp[0])
  lap_time.append(temp[1])
  total_time.append(temp[2])

data = pd.DataFrame(data={'Lap': lap, 'Lap_time': lap_time, 'Total_time': total_time})
data

     Lap      Lap_time    Total_time
0      1  00:00:26.911  00:00:26.911
1      2  00:00:00.215  00:00:27.126
2      3  00:00:00.247  00:00:27.373
3      4  00:00:13.393  00:00:40.766
4      5  00:00:00.250  00:00:41.016
..   ...           ...           ...
148  149  00:00:00.178  00:06:07.265
149  150  00:00:00.178  00:06:07.443
150  151  00:00:02.519  00:06:09.962
151  152  00:00:00.142  00:06:10.104
152  153  00:00:10.557  00:06:20.661

[153 rows x 3 columns]

In [130]:
masuk_antrian = []
mulai_layanan = []
selesai_layanan = []

for i in range(0, len(data), 3):

  data_masuk_antrian = data.loc[i].values.tolist()[2]
  data_mulai_layanan = data.loc[i + 1].values.tolist()[2]
  data_selesai_layanan = data.loc[i + 2].values.tolist()[2]

  masuk_antrian.append(data_masuk_antrian)
  mulai_layanan.append(data_mulai_layanan)
  selesai_layanan.append(data_selesai_layanan)

temp = {'masuk_antrian': masuk_antrian, 'mulai_layanan': mulai_layanan, 'selesai_layanan': selesai_layanan}
data_splitted = pd.DataFrame(data=temp)
data_splitted

   masuk_antrian mulai_layanan selesai_layanan
0   00:00:26.911  00:00:27.126    00:00:27.373
1   00:00:40.766  00:00:41.016    00:00:41.230
2   00:00:45.105  00:00:45.389    00:00:45.674
3   00:00:54.932  00:00:55.114    00:00:55.399
4   00:01:12.700  00:01:12.951    00:01:13.201
5   00:01:27.467  00:01:27.647    00:01:27.895
6   00:01:37.401  00:01:37.649    00:01:37.935
7   00:01:53.380  00:01:53.699    00:01:53.982
8   00:02:06.071  00:02:06.355    00:02:06.675
9   00:02:07.279  00:02:07.528    00:02:07.814
10  00:02:08.133  00:02:08.379    00:02:08.626
11  00:02:22.207  00:02:32.834    00:02:33.153
12  00:02:33.440  00:02:37.981    00:02:38.441
13  00:03:07.470  00:03:07.757    00:03:08.074
14  00:03:11.522  00:03:11.877    00:03:12.267
15  00:03:19.010  00:03:20.328    00:03:20.576
16  00:03:20.860  00:03:21.181    00:03:21.393
17  00:03:21.607  00:03:21.784    00:03:23.843
18  00:03:24.236  00:03:38.753    00:03:38.930
19  00:03:39.108  00:03:40.350    00:03:40.529
20  00:03:40.706  00:03:41.242    00:03:41.382
21  00:03:41.523  00:03:42.307    00:03:42.448
22  00:03:42.553  00:03:43.152    00:03:43.296
23  00:03:43.797  00:03:50.359    00:03:50.465
24  00:03:52.662  00:03:52.803    00:03:52.909
25  00:04:10.933  00:04:11.076    00:04:11.222
26  00:04:15.265  00:04:15.442    00:04:15.583
27  00:04:21.716  00:04:21.859    00:04:22.035
28  00:04:22.818  00:04:22.995    00:04:23.207
29  00:04:27.538  00:04:27.715    00:04:27.860
30  00:04:28.992  00:04:29.134    00:04:29.347
31  00:04:30.021  00:04:30.198    00:04:30.377
32  00:04:31.053  00:04:31.231    00:04:31.410
33  00:04:32.339  00:04:32.515    00:04:32.694
34  00:04:36.244  00:04:36.458    00:04:36.676
35  00:04:37.280  00:04:37.429    00:04:37.607
36  00:04:38.246  00:04:38.387    00:04:38.565
37  00:04:39.307  00:04:39.449    00:04:39.625
38  00:04:40.559  00:04:42.446    00:04:42.909
39  00:04:43.344  00:04:46.194    00:04:46.300
40  00:04:55.263  00:04:55.407    00:04:55.583
41  00:05:30.478  00:05:30.655    00:05:30.797
42  00:05:34.180  00:05:34.322    00:05:34.465
43  00:05:35.569  00:05:35.782    00:05:35.959
44  00:05:37.343  00:05:37.528    00:05:37.783
45  00:05:58.558  00:05:58.701    00:05:58.879
46  00:06:00.018  00:06:00.161    00:06:00.267
47  00:06:02.218  00:06:02.395    00:06:02.536
48  00:06:04.456  00:06:04.637    00:06:05.244
49  00:06:07.087  00:06:07.265    00:06:07.443
50  00:06:09.962  00:06:10.104    00:06:20.661

In [131]:
from datetime import datetime
import time

new_masuk_antrian = []
list_selisih_masuk_layanan_dan_selesai = []
list_selisih_masuk_antrian_dan_selesai = []
list_lama_antrian = []

for i in range(0, len(data_splitted)):
  temp = data_splitted.loc[i].values.tolist()
  
  data_masuk_antrian = datetime.strptime(temp[0].split(".")[0], '%H:%M:%S')
  data_masuk_layanan = datetime.strptime(temp[1].split(".")[0], '%H:%M:%S')
  data_selesai_layanan = datetime.strptime(temp[2].split(".")[0], '%H:%M:%S')

  selisih_masuk_antrian_dan_selesai = data_selesai_layanan - data_masuk_antrian
  selisih_layanan_dan_masuk = data_selesai_layanan - data_masuk_layanan
  selisih_lama_antrian = data_masuk_layanan - data_masuk_antrian
  
  list_selisih_masuk_layanan_dan_selesai.append(selisih_layanan_dan_masuk.total_seconds())
  list_selisih_masuk_antrian_dan_selesai.append(selisih_masuk_antrian_dan_selesai.total_seconds())
  list_lama_antrian.append(selisih_lama_antrian.total_seconds())

  if i != 0:
    temp = data_splitted.loc[i - 1].values.tolist()

    prev_data_masuk_antrian = datetime.strptime(temp[0].split(".")[0], '%H:%M:%S')

    if (data_masuk_antrian - prev_data_masuk_antrian).total_seconds() <= 5:
      prev_data_masuk_layanan = datetime.strptime(temp[1].split(".")[0], '%H:%M:%S')
      prev_data_selesai_layanan = datetime.strptime(temp[2].split(".")[0], '%H:%M:%S')

      selisih_layanan_dan_masuk = prev_data_selesai_layanan - prev_data_masuk_layanan

      jumlah_selisih_dan_masuk = selisih_layanan_dan_masuk + data_masuk_antrian
      new_masuk_antrian.append(jumlah_selisih_dan_masuk.time())
    else:
      new_masuk_antrian.append(data_masuk_antrian.time())
  else:
    new_masuk_antrian.append(data_masuk_antrian.time())

temp = {'masuk_antrian_baru': new_masuk_antrian, 'lama_layanan': list_selisih_masuk_layanan_dan_selesai, 'lama_antrian': list_lama_antrian, 'lama_proses': list_selisih_masuk_antrian_dan_selesai}
new_attributes = pd.DataFrame(data=temp)
new_attributes

   masuk_antrian_baru  lama_layanan  lama_antrian  lama_proses
0            00:00:26           0.0           1.0          1.0
1            00:00:40           0.0           1.0          1.0
2            00:00:45           0.0           0.0          0.0
3            00:00:54           0.0           1.0          1.0
4            00:01:12           1.0           0.0          1.0
5            00:01:27           0.0           0.0          0.0
6            00:01:37           0.0           0.0          0.0
7            00:01:53           0.0           0.0          0.0
8            00:02:06           0.0           0.0          0.0
9            00:02:07           0.0           0.0          0.0
10           00:02:08           0.0           0.0          0.0
11           00:02:22           1.0          10.0         11.0
12           00:02:33           1.0           4.0          5.0
13           00:03:07           1.0           0.0          1.0
14           00:03:12           1.0           0.0          1.0
15           00:03:19           0.0           1.0          1.0
16           00:03:20           0.0           1.0          1.0
17           00:03:21           2.0           0.0          2.0
18           00:03:26           0.0          14.0         14.0
19           00:03:39           0.0           1.0          1.0
20           00:03:40           0.0           1.0          1.0
21           00:03:41           0.0           1.0          1.0
22           00:03:42           0.0           1.0          1.0
23           00:03:43           0.0           7.0          7.0
24           00:03:52           0.0           0.0          0.0
25           00:04:10           0.0           1.0          1.0
26           00:04:15           0.0           0.0          0.0
27           00:04:21           1.0           0.0          1.0
28           00:04:23           1.0           0.0          1.0
29           00:04:28           0.0           0.0          0.0
30           00:04:28           0.0           1.0          1.0
31           00:04:30           0.0           0.0          0.0
32           00:04:31           0.0           0.0          0.0
33           00:04:32           0.0           0.0          0.0
34           00:04:36           0.0           0.0          0.0
35           00:04:37           0.0           0.0          0.0
36           00:04:38           0.0           0.0          0.0
37           00:04:39           0.0           0.0          0.0
38           00:04:40           0.0           2.0          2.0
39           00:04:43           0.0           3.0          3.0
40           00:04:55           0.0           0.0          0.0
41           00:05:30           0.0           0.0          0.0
42           00:05:34           0.0           0.0          0.0
43           00:05:35           0.0           0.0          0.0
44           00:05:37           0.0           0.0          0.0
45           00:05:58           0.0           0.0          0.0
46           00:06:00           0.0           0.0          0.0
47           00:06:02           0.0           0.0          0.0
48           00:06:04           1.0           0.0          1.0
49           00:06:08           0.0           0.0          0.0
50           00:06:09          10.0           1.0         11.0

In [132]:
data_splitted['new_masuk_antrian'] = new_attributes['masuk_antrian_baru']
data_splitted['lama_antrian'] = new_attributes['lama_antrian']
data_splitted['lama_layanan'] = new_attributes['lama_layanan']
data_splitted['lama_proses'] = new_attributes['lama_proses']
data_splitted

   masuk_antrian mulai_layanan  ... lama_layanan lama_proses
0   00:00:26.911  00:00:27.126  ...          0.0         1.0
1   00:00:40.766  00:00:41.016  ...          0.0         1.0
2   00:00:45.105  00:00:45.389  ...          0.0         0.0
3   00:00:54.932  00:00:55.114  ...          0.0         1.0
4   00:01:12.700  00:01:12.951  ...          1.0         1.0
5   00:01:27.467  00:01:27.647  ...          0.0         0.0
6   00:01:37.401  00:01:37.649  ...          0.0         0.0
7   00:01:53.380  00:01:53.699  ...          0.0         0.0
8   00:02:06.071  00:02:06.355  ...          0.0         0.0
9   00:02:07.279  00:02:07.528  ...          0.0         0.0
10  00:02:08.133  00:02:08.379  ...          0.0         0.0
11  00:02:22.207  00:02:32.834  ...          1.0        11.0
12  00:02:33.440  00:02:37.981  ...          1.0         5.0
13  00:03:07.470  00:03:07.757  ...          1.0         1.0
14  00:03:11.522  00:03:11.877  ...          1.0         1.0
15  00:03:19.010  00:03:20.328  ...          0.0         1.0
16  00:03:20.860  00:03:21.181  ...          0.0         1.0
17  00:03:21.607  00:03:21.784  ...          2.0         2.0
18  00:03:24.236  00:03:38.753  ...          0.0        14.0
19  00:03:39.108  00:03:40.350  ...          0.0         1.0
20  00:03:40.706  00:03:41.242  ...          0.0         1.0
21  00:03:41.523  00:03:42.307  ...          0.0         1.0
22  00:03:42.553  00:03:43.152  ...          0.0         1.0
23  00:03:43.797  00:03:50.359  ...          0.0         7.0
24  00:03:52.662  00:03:52.803  ...          0.0         0.0
25  00:04:10.933  00:04:11.076  ...          0.0         1.0
26  00:04:15.265  00:04:15.442  ...          0.0         0.0
27  00:04:21.716  00:04:21.859  ...          1.0         1.0
28  00:04:22.818  00:04:22.995  ...          1.0         1.0
29  00:04:27.538  00:04:27.715  ...          0.0         0.0
30  00:04:28.992  00:04:29.134  ...          0.0         1.0
31  00:04:30.021  00:04:30.198  ...          0.0         0.0
32  00:04:31.053  00:04:31.231  ...          0.0         0.0
33  00:04:32.339  00:04:32.515  ...          0.0         0.0
34  00:04:36.244  00:04:36.458  ...          0.0         0.0
35  00:04:37.280  00:04:37.429  ...          0.0         0.0
36  00:04:38.246  00:04:38.387  ...          0.0         0.0
37  00:04:39.307  00:04:39.449  ...          0.0         0.0
38  00:04:40.559  00:04:42.446  ...          0.0         2.0
39  00:04:43.344  00:04:46.194  ...          0.0         3.0
40  00:04:55.263  00:04:55.407  ...          0.0         0.0
41  00:05:30.478  00:05:30.655  ...          0.0         0.0
42  00:05:34.180  00:05:34.322  ...          0.0         0.0
43  00:05:35.569  00:05:35.782  ...          0.0         0.0
44  00:05:37.343  00:05:37.528  ...          0.0         0.0
45  00:05:58.558  00:05:58.701  ...          0.0         0.0
46  00:06:00.018  00:06:00.161  ...          0.0         0.0
47  00:06:02.218  00:06:02.395  ...          0.0         0.0
48  00:06:04.456  00:06:04.637  ...          1.0         1.0
49  00:06:07.087  00:06:07.265  ...          0.0         0.0
50  00:06:09.962  00:06:10.104  ...         10.0        11.0

[51 rows x 7 columns]

In [0]:
data_splitted.to_csv(output_path)